:root {
  --blue: #007AFF;
  --red: #EB5757;
  --dark: #282F3C;
  --yellow: #FC9700;
  --gray: #C0C0C0;
  --violet: #5858DF;
  --gray100: #F2F2F2;
  --gray200: #C0C0C0;
  --gray300: #9499A5;

  --green: green;
}

:root {

  --borderRadius: 12px;
  --marinTop: 20px;
}

body {
  font-family: Inter, sans-serif !important;
  background-color: #F2F3F5 !important;
  min-height: 80vh;
  width: 100% !important;
  overflow-x: hidden;
  min-width: 767px !important;
}

p, li, a {
  font-size: 14px;
}

small {
  font-size: 12px;
}

.dotted-table {
  width: 100%;

  tr {
    th:first-child::before {
      width: 100%;
      border-bottom: 2px dotted rgb(209, 209, 209);
      content: "";
      display: block;
      margin-bottom: -16px;
      margin-top: 14px;
    }
  }

  span {
    font-weight: 400;
    background-color: white;
    padding: 5px;
  }
}

.old-price {
  text-decoration: line-through;
  line-height: 17px;
  color: var(--gray);
  margin-bottom: 0;
}

.text-error {
  color: var(--red);
}

.text-success {
  color: var(--green);
}

.text-font {
  margin: 0;
  padding: 0;
}

.text-link {
  cursor: pointer;
}

.text-link:hover {
  color: var(--blue);
}

* {
  ::-webkit-scrollbar {
    transition: all 0.3s;
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
    width: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
  }
}

.transparent-nav-active {
  color: #282F3C;

  svg {
    color: var(--blue) !important;
  }
}

.transparent-tab-passive {
  display: flex;
  align-items: center;
  color: #282F3C !important;

  svg {
    color: grey;
  }
}

.buyshop-card {
  padding: 24px;
  border-radius: 12px;
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}